## Python
__pycache__/
*.py[cod]
*.pyc
.venv/
venv/
env/
*.egg-info/

## Jupyter
.ipynb_checkpoints/

## DuckDB
*.duckdb
*.duckdb.wal

## OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

## Env files
.env
